/*Responsive Mobile First*/
body {
  font-family: "Courier New", Courier, monospace;
  background-color: azure;
}
header,
article,
p,
h1,
h3 {
  box-sizing: border-box;
}
header > h3 {
  font-size: 1.2em;
}
header img,
article > img {
  display: none;
}

/*
@media screen and (min-width: 480px) {
  header p {
    margin: 1%;
    float: left;   
  }
  header img {
    display: inline;
    max-width: 50%;
  }
  article {
    border: 1px solid gray;
    margin: 1%;
    padding: 1%;
  }
}
*/

/*
@media screen and (min-width: 992px) {
  header {
    text-align: center;
  }
  header img {
    max-width: 75%;
  }
  header > h3 {
    font-size: 2em;
  }
  article {
    width: 31.333333%;
    float: left;
  }
  article > img {
    display:block;
    width: 100%;
  } 
}
*/